:root {
  --animate-duration: 1.5s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-34 {
  font-size: 34px;
}

.fz-36 {
  font-size: 36px;
}

.fz-38 {
  font-size: 38px;
}

.fz-40 {
  font-size: 40px;
}

.fz-42 {
  font-size: 42px;
}

.fz-44 {
  font-size: 44px;
}

.fz-46 {
  font-size: 46px;
}

.fz-48 {
  font-size: 48px;
}

.fz-52 {
  font-size: 52px;
}

.round4 {
  border-radius: 16px;
}

.round5 {
  border-radius: 20px;
}

.round6 {
  border-radius: 24px;
}

.round7 {
  border-radius: 28px;
}

.round8 {
  border-radius: 32px;
}

.round9 {
  border-radius: 36px;
}

.round10 {
  border-radius: 40px;
}

.round11 {
  border-radius: 44px;
}

.bg-grey {
  background-color: #CFD2CF;
}

.bg-fileter {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.bg-darks {
  background-color: rgba(0, 0, 0, 0.55);
}

.bg-theme {
  background-color: #f5f5f5;
}

.bg-whites {
  background-color: #fff;
}

.theme-bg-color {
  background-color: #a80000 !important;
}

.text-green {
  color: #9bffee;
}

.text-justify {
  text-align: justify;
}

.letter-spacing {
  letter-spacing: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  padding-top: 25vh;
  padding-bottom: 25vh;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
}

img {
  width: 100%;
}

nav {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

ul li a {
  color: #efefee;
  -webkit-transition: all .3s !important;
  transition: all .3s !important;
}

p {
  letter-spacing: 6px;
  line-height: 1.6em;
}

@media (max-width: 1300px) {
  #carouselExampleIndicators {
    display: none;
  }
}

.carousel-item .carousel-caption {
  width: 40%;
  height: 35%;
  position: absolute;
  inset: 0;
}

.carousel-item .carousel-caption.item-1 {
  top: 30vh;
  left: 15%;
}

.carousel-item .carousel-caption.item-2 {
  top: 20em;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
}

.carousel-item .carousel-caption.item-3 {
  top: 20em;
  left: 45%;
}

.carousel-item .carousel-caption .move_title {
  font-size: 60px;
  text-shadow: 10px 10px 10px #4d4b4b;
  border-bottom: 4px solid #e04;
}

@media (max-width: 1500px) {
  .carousel-item .carousel-caption .move_title {
    font-size: 32px;
  }
}

.carousel-item .carousel-caption .move_para {
  text-shadow: 15px 10px 10px #4d4b4b;
}

@media (max-width: 1500px) {
  .carousel-item .carousel-caption .move_para {
    font-size: 20px;
  }
}

.navbar-light .navbar-nav .nav-item {
  margin-left: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: #efefee !important;
  display: inline-block;
  padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fa0 !important;
}

.navbar-light .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
  width: 100%;
}

#about {
  background-image: url("../img/Abouts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about .bg-about {
  background: fixed;
  background-image: url("../img/A.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 15px #a4a4a4;
          box-shadow: 10px 10px 15px #a4a4a4;
}

#about .bg-about .about_title {
  color: #fefefe;
  text-shadow: 5px 5px 10px #d8d8d8;
}

#about .bg-about .about_para {
  text-shadow: -2px 3px 8px #333;
}

#about .about_item {
  -webkit-box-shadow: 10px 10px 15px #a4a4a4;
          box-shadow: 10px 10px 15px #a4a4a4;
}

@media (max-width: 992px) {
  #about .about_item {
    margin-top: 24px;
  }
}

#about .about_item h3 {
  color: #fefefe;
  text-shadow: 5px 5px 10px #d8d8d8;
}

#about .about_item ul {
  text-shadow: -2px 3px 8px #333;
}

#about .about_item.bgi-1 {
  background-image: url("../img/A-1.jpg");
  background-position: center;
  background-size: cover;
}

#about .about_item.bgi-2 {
  background-image: url("../img/A-2.jpg");
  background-position: center;
  background-size: cover;
}

.fa-circle-up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 48px;
  color: #e04;
}

.fa-circle-up:hover {
  color: #fa0;
}

#history {
  background-image: url("../img/Historys.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#gotop {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-align: center;
  line-height: 40px;
  /* display: none; */
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#gotop a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */