:root {
  --animate-duration: 1.5s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-34 {
  font-size: 34px;
}

.fz-36 {
  font-size: 36px;
}

.fz-38 {
  font-size: 38px;
}

.fz-40 {
  font-size: 40px;
}

.fz-42 {
  font-size: 42px;
}

.fz-44 {
  font-size: 44px;
}

.fz-46 {
  font-size: 46px;
}

.fz-48 {
  font-size: 48px;
}

.fz-52 {
  font-size: 52px;
}

.round4 {
  border-radius: 16px;
}

.round5 {
  border-radius: 20px;
}

.round6 {
  border-radius: 24px;
}

.round7 {
  border-radius: 28px;
}

.round8 {
  border-radius: 32px;
}

.round9 {
  border-radius: 36px;
}

.round10 {
  border-radius: 40px;
}

.round11 {
  border-radius: 44px;
}

.bg-grey {
  background-color: #CFD2CF;
}

.bg-fileter {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.bg-darks {
  background-color: rgba(0, 0, 0, 0.55);
}

.bg-about {
  background-color: #fcfeee;
}

.theme-bg-color {
  background-color: #a80000 !important;
}

.text-green {
  color: #9bffee;
}

.text-justify {
  text-align: justify;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  padding-top: 140px;
  padding-bottom: 140px;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
}

nav {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

ul li a {
  color: #efefee;
  -webkit-transition: all .3s !important;
  transition: all .3s !important;
}

p {
  letter-spacing: 6px;
  line-height: 1.6em;
}

.carousel-item {
  height: 100vh;
}

.carousel-item .carousel-caption {
  width: 40vw;
  height: 40vh;
}

.carousel-item .carousel-caption.item-1 {
  inset: 0;
  top: 20em;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
}

.carousel-item .carousel-caption.item-2 {
  inset: 0;
  top: 20em;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  height: 45vh;
}

.carousel-item .carousel-caption.item-3 {
  inset: 0;
  top: 20em;
  left: 45%;
}

.carousel-item .carousel-caption .move_title {
  font-size: 60px;
  text-shadow: 10px 10px 10px #4d4b4b;
  border-bottom: 4px solid #e04;
}

.carousel-item .carousel-caption .move_para {
  text-shadow: 15px 10px 10px #4d4b4b;
}

.navbar-light .navbar-nav .nav-item {
  margin-left: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: #efefee !important;
  display: inline-block;
  padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fa0 !important;
}

.navbar-light .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */