:root {
    --animate-duration: 1.5s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
$test: #e04;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "test":       $test
);