@import "_var.scss", "_utilities.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
}

ul li a {
    color: #efefee;
    transition: all .3s !important;
}

p {
    letter-spacing: 6px;
    line-height: 1.6em;
}


.carousel-item {
    height: 100vh;

    .carousel-caption {
        width: 40vw;
        height: 40vh;

        &.item-1 {
            inset: 0;
            top: 20em;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
        }

        &.item-2 {
            inset: 0;
            top: 20em;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
            height: 45vh;
        }

        &.item-3 {
            inset: 0;
            top: 20em;
            left: 45%;
        }

        .move_title {
            font-size: 60px;
            text-shadow: 10px 10px 10px #4d4b4b;
            border-bottom: 4px solid #e04;
        }

        .move_para {
            text-shadow: 15px 10px 10px #4d4b4b;
        }
    }
}




.navbar-light {
    .navbar-nav {
        .nav-item {
            margin-left: 32px;
        }

        .nav-link {
            color: #efefee !important;
            display: inline-block;
            padding: 10px 0;

            &:hover {
                color: #fa0 !important;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}