@import "_var.scss", "_utilities.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
    // overflow: hidden;
}

img {
    width: 100%;
}

nav {
    transition: all .5s ease;
}


ul li a {
    color: #efefee;
    transition: all .3s !important;
}

// section {
//     height: 100%;
// }

p {
    font-size: 18px;
    letter-spacing: 6px;
    line-height: 1.6em;
    text-shadow: -2px 3px 8px #333;
}

#carouselExampleIndicators {
    @media (max-width: 1300px) {
        display: none;
    }
}

.carousel-item {
    .carousel-caption {
        width: 40%;
        height: 35%;
        position: absolute;
        inset: 0;

        &.item-1 {
            top: 30vh;
            left: 15%;
        }

        &.item-2 {
            height: 40%;
            top: 20em;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
        }

        &.item-3 {
            top: 20em;
            left: 45%;
        }

        .move_title {
            font-size: 60px;
            text-shadow: 10px 10px 10px #4d4b4b;
            border-bottom: 4px solid #e04;

            @media (max-width: 1500px) {
                font-size: 32px;
            }
        }

        .move_para {
            text-shadow: 15px 10px 10px #4d4b4b;

            @media (max-width: 1500px) {
                font-size: 20px;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-item {
            margin-left: 32px;
        }

        .nav-link {
            color: #efefee !important;
            display: inline-block;
            padding: 10px 0;

            &:hover {
                color: #fa0 !important;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

#about {
    background-image: url("../img/Abouts.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .bg-about {
        background: fixed;
        background-image: url("../img/A.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 10px 10px 15px #a4a4a4;

        .about_title {
            color: #fefefe;
            text-shadow: 5px 5px 10px #d8d8d8;
        }

        .about_para {
            text-shadow: -2px 3px 8px #333;
        }
    }

    .about_item {
        box-shadow: 10px 10px 15px #a4a4a4;

        @media (max-width: 992px) {
            margin-top: 24px;
        }

        h3 {
            color: #fefefe;
            text-shadow: 5px 5px 10px #d8d8d8;
        }

        ul {
            text-shadow: -2px 3px 8px #333;
        }

        &.bgi-1 {
            background-image: url("../img/A-1.jpg");
            background-position: center;
            background-size: cover;
        }

        &.bgi-2 {
            background-image: url("../img/A-2.jpg");
            background-position: center;
            background-size: cover;
        }
    }
}

#news {
    background-image: url("../img/newsbannersss.jpg");
    // background-color: #;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.fa-circle-up {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 48px;
    color: #e04;

    &:hover {
        color: #fa0;
    }
}

#history {
    background-image: url("../img/History.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .history_title {
        color: #fefefe;
        text-shadow: 5px 5px 10px #d8d8d8;
    }
}

#news {
    &.hero {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .row:last-child {
        padding-top: 120px;
    }

    .card {
        transition: all .4s ease;
    }

    .card:hover {
        transform: translateY(-30px);
        box-shadow: 10px 10px 15px #333;
    }

    .card-title {
        text-shadow: 5px 5px 10px #333 !important;
    }

    .move_top {
        margin-top: -40px;
    }

    @media (max-width: 992px) {
        .move_top {
            margin-top: 0px;
        }
    }
}

#shop {
    &.hero{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .img-round {
        border-radius: 50%;
        transition: all .4s ease-in;
    }

    .row .col-lg-3:hover .img-round {
        border-radius: 0%;
    }

    .form-control {
        width: 50%;
    }

    i {
        cursor: pointer;
        color: #9bffee;
        transition: all .4s linear;
        &:hover {
            color: #333;
        }
    }
    .col-lg-6:last-child{
        border-left: 2px solid #999;
    }
    form .form-control{
        width: 80%;
        border-left: 4px solid #000;
    }
}
#service{
    color: #fefefe;
    background-image: url("../img/Fso.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .info_box{
        padding: 50px;
    }
    .service_box{
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
        padding: 50px;
        input{
            width: 50%;
        }
    }
    i{
        font-size: 3rem;
        padding: 8px;
    }
    

}
#gotop {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease-in-out;
}

#gotop a {
    color: #fff;
}