@import "_var.scss", "_utilities.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
}

nav {
    transition: all .5s ease;

    &::after {
        content: "";
        width: 228px;
        height: 8px;
        border-radius: 44px;
        position: absolute;
        top: 50%;
        right: 1px;
        background-color: #fff;
        user-select: none;

        @media(max-width: 1440px) {
            display: none;
        }
    }

    &::before {
        content: "";
        width: 228px;
        height: 8px;
        border-radius: 44px;
        position: absolute;
        top: 50%;
        left: 1px;
        background-color: #fff;
        user-select: none;

        @media (max-width: 1440px) {
            display: none;
        }
    }
}

ul li a {
    color: #efefee;
    transition: all .3s !important;
}

section {
    height: 100vh;
}

p {
    letter-spacing: 6px;
    line-height: 1.6em;
}
#carouselExampleIndicators{
    @media (max-width: 1300px) {
        display: none;
    }
}

.carousel-item {
    .carousel-caption {
        width: 40%;
        height: 35%;
        position: absolute;
        inset: 0;

        &.item-1 {
            top: 30vh;
            left: 15%;
        }

        &.item-2 {
            inset: 0;
            top: 20em;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
            // height: 45vh;
        }

        &.item-3 {
            inset: 0;
            top: 20em;
            left: 45%;
        }

        .move_title {
            font-size: 60px;
            text-shadow: 10px 10px 10px #4d4b4b;
            border-bottom: 4px solid #e04;
            @media (max-width: 1500px) {
                font-size: 32px;
            }
        }

        .move_para {
            text-shadow: 15px 10px 10px #4d4b4b;
            @media (max-width: 1500px) {
                font-size: 20px;
            }
        }
    }
}




.navbar-light {
    .navbar-nav {
        .nav-item {
            margin-left: 32px;
        }

        .nav-link {
            color: #efefee !important;
            display: inline-block;
            padding: 10px 0;

            &:hover {
                color: #fa0 !important;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}